<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">        
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <form class="category-form" action="/admin/add-category" method="POST">
            <div class="form-control">
                <label for="catname">Category Name</label>
                <input type="text" name="catname" id="catname">

            </div>


            <button type="submit">Add Category</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>